<!-- Search bar for entering the city name -->
<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Enter Your City" [(ngModel)]="cityName" name="city">
    </form>
</div>

<!-- Container for displaying weather data -->
<div class="container" *ngIf="wheatherData">
<!-- Upper section displaying weather condition images, location, and temperature -->

    <div class="upper-data">
        <img src="../assets/hot2.jpg" alt="" *ngIf="wheatherData.main.temp > 15">
        <img src="../assets/cold4.jpg" alt="" *ngIf="wheatherData.main.temp <= 15">

        <div class="wheather-data">
            <div class="location">{{wheatherData.name}}</div>
            <div class="temparature">{{ wheatherData.main.temp| number:'1.0-0'}}°C </div>
        </div>

    </div>

    
    <!-- Lower section displaying additional weather information -->
    <div class="lower-data">

        <!-- Container for various weather information blocks -->
        <div class="more-info-label">

        

        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/mintem-removebg-preview.png" alt="">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                    {{wheatherData.main.temp_min| number:'1.0-0'}}.C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/images-removebg-preview.png" alt="">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                    {{wheatherData.main.temp_max| number:'1.0-0'}}.C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/pngtree-removebg-preview.png" alt="">
                    <span>Humidity</span>
                </div>
                <div class="info-block-value">
                    {{wheatherData.main.humidity}}%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind-removebg-preview.png" alt="">
                    <span>wind speed</span>
                </div>
                <div class="info-block-value">
                    {{wheatherData.wind.speed}}km/hr
                </div>
            </div>
        </div>

    </div>
</div>